player-connection-mode=Listen
player-connection-guid=3668287813
player-connection-debug=0
player-connection-project-name=practica 1
player-connection-ip=172.16.11.114
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=1f880a19943f4d7da1f3cc3925b12fd3
